/*body{
    background-image: linear-gradient(blueviolet,purple);
}*/
.intro {
    text-align: center;
}
.firstRecom {
    min-width: 30vw;
    max-width: 40vw;
    height: 7vh;
    display: block;
    position: absolute;
    right: 10vw;
}

.secondRecom {
    min-width: 30vw;
    max-width: 40vw;
    height: 7vh;
    display: block;
    position: absolute;
    top: 90vh;
    right: 59vw;
    margin: 0;
}
.alternate {
    position: absolute;
    top: 1000px;
}

@media (min-width: 760px) {
    /*.firstRecom {
        width: 500px;
        height: 500px;
    }*/

}

.test{
    background: -moz-linear-gradient(blueviolet, lawngreen);
}